*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	font-size: 16px;
	line-height: 24px;
	font-family: $font-regular;
	color: $main-text-color;
	font-style: normal;
	background-color: $background-color;
}

h1, h2, h3, p {
	margin: 0;
}

img {
	max-width: 100%;
	height: auto;
}

a,
a:hover,
a:visited,
a:active {
	text-decoration: none;
	color: inherit;
}

strong {
	font-family: $font-bold;
}

// Допускает только вертикальное изменение текстового поля
textarea {
    resize: vertical;
}