// Цвета
$main-text-color: #0d0d0d;
$text-light-color: #696969;
$important-text-color: #5f22b2;
$important-light-color: #5f22b2;
$white-color: #e5e5e5;
$background-color: #fbf7ff;

// Размеры
$mobile-width: "max-width: 425px";
$tablet-width: "max-width: 768px";
$tablet-widths-only: "max-width: 1199px";
$desktop-widths: "min-width: 1200px";

// Шрифты
$font-regular: 'Gilroy-Regular', sans-serif;
$font-bold: 'Gilroy-Bold', sans-serif;
$font-semibold: 'Gilroy-SemiBold', sans-serif;
$font-extrabold: 'Gilroy-ExtraBold', sans-serif;
$font-medium: 'Gilroy-Medium', sans-serif;
$font-button-medium: 'GothamPro-Medium', sans-serif;
$font-flower-city: 'TheFlowerCity';
