.about-section {
    @include section-background('../img/about-bg.jpg');
    padding-top: 176px;
    padding-bottom: 160px;

    @media ($tablet-width) {
        padding-bottom: 240px;
        padding-top: 130px;
        background-position: left top;
        background-size: auto 100%;
    }

    &__content {
        width: 50%;
        padding-right: 20px;

        @media ($tablet-width) {
            width: auto;
            padding: 0;
        }
    }

    &__header {
        margin-bottom: 47px;

        @media ($tablet-width) {
            margin-bottom: 29px;
        }
    }

    &__text {
        font-size: 18px;

        @media ($tablet-width) {
            font-size: 16px;
            text-align: center;
        }
    }
}