.algorithm-section {
    @include section-background("../img/algorithm-bg.jpg");
    padding-top: 198px;
    padding-bottom: 220px;
    
    @media ($tablet-width) {
        background-image: url(../img/algorithm-bg_mobile.jpg);
    }

    &__header {
        margin-bottom: 35px;
    }
}