.algorithm-section {
    @include section-background("../img/algorithm-bg.jpg");
    padding-top: 198px;
    padding-bottom: 220px;
    
    @media ($tablet-width) {
        background-image: url(../img/algorithm-bg_mobile.jpg);
        margin-top: -97px;
        padding-bottom: 184px;
    }

    &__header {
        margin-bottom: 35px;

        @media ($tablet-width) {
            margin-bottom: 54px;
        }
    }
}