.button {
    text-shadow: 0px 2px 0px rgba(252, 236, 152, 0.004);
    font-size: 16px;
    color: #0e0e0e;
    background-image: url(../img/button-bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    box-shadow: 0px 3px 0px 0px rgba(228, 177, 0, 0.004),inset 0px 2px 27px 0px rgba(225, 176, 4, 0.004);
    width: 295px;
    height: 90px;
    border-radius: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $font-button-medium;
    text-transform: uppercase;
    letter-spacing: 1px;
    max-width: 100%;
    -webkit-tap-highlight-color: rgba(255,255,255,0);
    transition: all .2s;
    transform: scale(1);
    cursor: pointer;

    &:hover {
        transform: scale(1.03);
    }

    &:active {
        transform: scale(1.04);
    }

    @media ($tablet-width) {
        background-image: url(../img/button-bg_mobile.png);
        max-width: 320px;
        width: 100%;
        height: 78px;
    }
}