.calculator-section {
    padding-top: 47px;
    padding-bottom: 50px;

    @media ($tablet-width) {
        padding-top: 0;
        padding-bottom: 0;
        margin-top: -100px;
        @include section-background("../img/calculator-bg_mobile.jpg");
        background-position: center 33px;
    }

    &__container {
        display: grid;
        grid-template-areas: 
        "flask header"
        "flask checkboxes"
        "flask range"
        "flask design"
        "total button"
        ;
        grid-template-columns: 505px 1fr;
        grid-template-rows: 145px 148px 70px 84px;


        @media (min-width: 769px) and (max-width: 1024px) {
            grid-template-areas: 
            "flask header"
            "flask checkboxes"
            "flask range"
            "total design"
            "total button"
            ;

            grid-template-columns: 415px 1fr;
        }
        
        @media ($tablet-width) {
            max-width: 320px;
            grid-template-areas: 
            "header header"
            "flask checkboxes"
            "range range"
            "design design"
            "total total"
            "button button"
            ;

            grid-template-columns: 42.8% 57.2%;
            grid-template-rows: 101px 253px 77px 0px 159px;
        }
    }

    &__flask-section {
        grid-area: flask;
        width: 100%;
        max-width: 505px;
        @include section-background('../img/calculator-bg.jpg');
        background-position: 0 0;
        background-size: contain;
        height: 550px;
        padding-top: 120px;

        @media ($tablet-width) {
            background-image: none;
            position: relative;
        }
    }

    &__flask {
        @media ($tablet-width) {
            position: absolute;
            top: -8px;
            right: 10px;
            width: 267px;
        }
    }

    &__total {
        grid-area: total;
        font-family: $font-bold;
        font-size: 25px;
        text-align: center;
        white-space: nowrap;
        padding-top: 65px;

        @media ($tablet-width) {
            font-family: $font-bold;
            font-size: 24px;
            text-align: left;
            padding-left: 48px;
        }
    }

    &__total-text {
        @media ($tablet-width) {
            font-family: $font-regular;
            font-size: 18px;
            display: block;
            opacity: 0.61;
            margin-bottom: 5px;
        }
    }

    &__calculator {
        padding-top: 20px;
        padding-left: 36px;
        width: 50%;
        margin-left: auto;

        @media ($tablet-width) {
            width: auto;
            margin: 0;
            padding-left: 0;
        }
    }

    &__header-wrapper {
        grid-area: header;
        margin-left: 116px;
        padding-top: 19px;

        @media ($tablet-width) {
            margin-left: 0;
        }
    }

    &__checkboxes {
        @media ($tablet-width) {
            position: absolute;
            top: 0;
            left: 0;
        }
    }

    &__checkboxes-wrapper {
        grid-area: checkboxes;
        padding-left: 116px;
        
        @media ($tablet-width) {
            padding-left: 0;
            position: relative;
        }
    }

    &__range-wrapper {
        grid-area: range;
        padding-left: 116px;
        
        @media ($tablet-width) {
            padding-left: 0;
        }
    }

    &__design-wrapper {
        grid-area: design;
        padding-left: 116px;

        @media ($tablet-width) {
            padding-left: 0;
        }
    }

    &__button {

        @media ($tablet-width) {
            margin: auto;
        }
    }

    &__button-wrapper {
        grid-area: button;
        padding-left: 116px;

        @media ($tablet-width) {
            padding-left: 0;
        }
    }
}