.calculator-section {
    padding-top: 90px;
    padding-bottom: 50px;

    &__container {
        display: flex;
    }

    &__flask-section {
        width: 100%;
        max-width: 505px;
        @include section-background('../img/calculator-bg.jpg');
        background-position: 0 0;
        background-size: contain;
        height: 550px;
        padding-top: 120px;
    }

    &__flask {
        margin-bottom: 20px;
    }

    &__total {
        font-family: $font-bold;
        font-size: 25px;
        text-align: center;
    }

    &__calculator {
        padding-top: 21px;
        padding-left: 37px;
        width: 50%;
        margin-left: auto;
    }

    &__header {
        margin-bottom: 66px;
    }

    &__checkboxes {
        margin-bottom: 63px;
    }

    &__range {
        margin-bottom: 59px;
    }

    &__checkbox-label {
        margin-bottom: 50px;
    }
}