.header-phone {
    &__phone {
        font-size: 22px;
        color: $main-text-color;
    }

    &__callback {
        display: block;
        color: $important-light-color;
        font-size: 16px;
        position: relative;
        padding-bottom: 2px;

        &::after {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            height: 2px;
            background-image: url(../../img/phone-dot.png);
        }
    }
}