.logo {
    padding-left: 80px;
    position: relative;
    font-size: 20px;

    &::before {
        content: '';
        width: 62px;
        height: 95px;
        position: absolute;
        left: 0;
        bottom: -10px;
        background-image: url(../img/logo.png);
        background-repeat: no-repeat;
    }

    &_footer::before {
        background-image: url(../img/logo_footer.png);
    }
}