.logo {
    padding-left: 80px;
    position: relative;
    font-size: 20px;

    @media ($tablet-width) {
        font-size: 18px;
        padding-left: 50px;
    }

    &::before {
        content: '';
        width: 62px;
        height: 95px;
        position: absolute;
        left: 0;
        bottom: -10px;
        background-image: url(../img/logo.png);
        background-repeat: no-repeat;

        @media ($tablet-width) {
            width: 40px;
            height: 70px;
            background-size: contain;
        }
    }

    &_footer::before {
        background-image: url(../img/logo_footer.png);
    }
}