.main {
    &__header {
        width: 650px;
        font-size: 55px;
        line-height: 70px;
        margin-bottom: 36px;

        
        @media ($tablet-width) {
            font-size: 24px;
            text-align: center;
            line-height: 35px;
            width: auto;
            font-family: $font-regular;
            margin-bottom: 280px;
            font-weight: normal;
        }
    }

    &__important-text {
        font-family: $font-extrabold;
        color: $important-text-color;
    }

    &__button {
        @media ($mobile-width) {
            margin: auto;
        }
    }
}