.main-section {
    padding-bottom: 356px;
    @include section-background('../img/main-bg.jpg');

    @media ($tablet-width) {
        background-image: url(../img/main-bg_mobile.jpg);
        height: 720px;
    }

    &__header {
        margin-bottom: 209px;

        @media ($tablet-width) {
            margin-bottom: 30px;
        }
    }
}