.phone {
    font-family: $font-medium;
    display: block;
    padding-left: 24px;
    background-image: url(../../img/phone.png);
    background-repeat: no-repeat;
    background-position: 0 center;
    font-family: $font-medium;
    white-space: nowrap;
}