.request-section {
    @include section-background('../img/request-bg.jpg');
    padding-top: 115px;
    padding-bottom: 140px;

    @media ($tablet-width) {
        padding-top: 0;
        padding-bottom: 390px;
        background-image: url(../img/request-bg_mobile.jpg);
        background-position: center bottom;
    }

    &__content {
        width: 50%;
        margin-left: auto;
        padding-left: 35px;

        @media ($tablet-width) {
            width: auto;
            margin: 0;
            padding-left: 0;
        }
    }

    &__header {
        margin-bottom: 23px;
    }

    &__text {
        margin-bottom: 35px;
        color: $text-light-color;
        font-size: 18px;
        padding-right: 50px;

        @media ($tablet-width) {
            text-align: center;
            padding: 0;
            margin-bottom: 46px;
        }
    }

    &__button {
        @media ($tablet-width) {
            margin: auto;
        }
    }
}