.section-header {
    font-size: 50px;
    line-height: normal;
    font-weight: normal;
    position: relative;
    z-index: 1;

    @media ($tablet-width) {
        font-size: 24px;
        text-align: center;
    }

    &__background {
        position: absolute;
        top: 0;
        bottom: 0;
        left: -20px;
        margin: auto;
        transform: rotate(-10deg);
        font-size: 80px;
        color: #fdebfc;
        font-family: $font-flower-city;
        text-align: center;
        width: 10px;
        white-space: nowrap;
        z-index: -1;

        @media ($tablet-width) {
            font-size: 27px;
            text-align: center;
            transform: matrix( 1.56752130548609,-0.23113535644148,0.23113535644148,1.5675213054861,0,0);
            left: 0;
            right: 0;
            margin: auto;
            width: auto;
        }    
    }
}