.services-section {
    padding-bottom: 89px;

    &__header {
        margin-bottom: 114px;
    }

    &__services {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 15px;
    }
}