.services-section {
    padding-bottom: 89px;

    &__header {
        margin-bottom: 114px;

        @media ($mobile-width) {
            margin-bottom: 71px;
        }
    }

    &__services {
        display: grid;
        grid-template-columns: repeat(4, 282px);
        grid-gap: 14px;

        @media ($mobile-width) {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(4, 1ft);
            grid-gap: 100px;
        }
    }

    &__item {
        margin: auto;
    }
}